h1, h2, h3 {
  margin: 0;
}

.main-content {
  width: 500px;
  margin: 100px auto;
  padding: 15px;
  border: 4px dashed purple;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin-top: 10px;
  text-transform: uppercase;
}

h3 {
  color: grey;
  text-transform: uppercase;
}

.description {
  margin-top: 10px;
  text-align: justify;
}

.divider {
  margin: 0 auto;
  width: 80%;
  height: 1px;
  margin-top: 15px;
  background-color: rgb(201, 188, 188);
}

.purchase-info {
  display: flex;
  width: 100%;
  margin-top: 15px;
  justify-content: space-between;
  align-items: flex-end;
}

.purchase-info :nth-child(n) {
  width: 200px;
  height: 50px;
}

.price {
  font-size: 45px;
}

button {
  background-color: rgb(41, 40, 40);
  color: white;
  border: none;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}